@import "./components/gametools/gametools.scss";


/* Project-specific CSS */

$handle-bottom-bar: true;

body,
html {
    padding: 0;
    margin: 0;
}

#gametools-container {
    height: 100%;
    width: 100%;
}

.creature-card {
    position: relative;
    overflow: hidden;
    border: none;
    background: rgb(235, 192, 0);
    .modal-header {
        border-radius: 0;
        border: none;
        @extend .ribbon;
    }
    .modal-body {
        $right-padding: 6em;
        padding-right: $right-padding;
        min-height: 11em;
        display: flex;
        flex-direction: row;
        text-align: left;
        flex-wrap: wrap;
        > div {
            margin: 1em;
            flex: 0 1 auto;
            img {
                width: 100%;
                max-width: 200px;
                border-radius: 1em;
            }
        }
        h5 {
            font-weight: normal;
            font-style: italic;
            font-size: 1.1rem;
            line-height: 1.05;
        }
    }
    .modal-footer {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}
